<h1>Windows Azure TaskDemoBundle for Symfony2</h1>

<p>Welcome to the Azure TaskDemoBundle, a simple example application to show
the features of Windows Azure with <a href="http://www.symfony.com">Symfony</a>
and <a href="http://www.doctrine-project.org">Doctrine</a>.</p>

<p><a href="{{ path('task_list') }}">Go to Task application</a></p>
<p><a href="{{ path('hello') }}">Test PDO SQL Server sessions</a></p>
